@model VehicleModelViewModel
@{
    ViewData["Title"] = "Vehicle model details";
    List<VehicleMakeViewModel>? vehicleMakes = ViewData["makes"] as List<VehicleMakeViewModel>;
}
<h2>Vehicle model details</h2>
<hr />
<div>
    <form method="post">
        <input class="row" name="id" hidden value="@Model.Id" style="margin:5px 0px"/>
        <select disabled="@(vehicleMakes == null)" value="@Model.MakeId" name="makeId">
            @if (vehicleMakes != null)
            {
                if(Model.MakeId != 0)
                {
                    <option selected value="@Model.MakeId">@vehicleMakes.FirstOrDefault(a => a.Id == Model.MakeId)?.Name</option>
                }
                @foreach (var make in vehicleMakes!)
                {
                    if(Model.MakeId != make.Id)
                    {
                        <option value="@make.Id">@make.Name</option>                     
                    }
                }
            }
        </select>
        <input class="row" name="name" placeholder="Enter name" value="@Model.Name" style="margin:5px 0px"/>
        <input class="row" name="abrv" placeholder="Enter abbreviation" value="@Model.Abrv" style="margin:5px 0px">

        @if (Model.Id == 0)
        {
            <input  asp-controller="VehicleModel" 
                asp-action="CreateVehicleModel" name="Create"
                value="Create"
                   type="submit"
                class="btn btn-primary" style="margin:5px 0px" />
        }
        else
        {
            <input asp-controller="VehicleModel" 
                asp-action="UpdateVehicleModel" 
                asp-route-id="@Model.Id" name="Update"
                value="Update"
                type="submit"
                class="btn btn-primary" style="margin:5px 0px" />
        }
        <a class="btn btn-secondary" asp-action="Index" asp-controller="VehicleModel">Cancel</a>
    </form>
</div>
